In [1]:
import numpy as np
import pandas as pd

# Series

In [3]:
s=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [4]:
s

a    1.012428
b    0.031476
c    0.025890
d   -1.091468
e   -0.472691
dtype: float64

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
d={'b':1,
  'a':0,
  'c':2}

In [7]:
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [8]:
pd.Series(d,index=['b','c','d','a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [9]:
pd.Series(5.0,index=['a','b','c','d','e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [10]:
s[0]

1.0124282495211872

In [11]:
s[:3]

a    1.012428
b    0.031476
c    0.025890
dtype: float64

In [12]:
s[s>s.median()]

a    1.012428
b    0.031476
dtype: float64

In [14]:
s[[4,3,1]]

e   -0.472691
d   -1.091468
b    0.031476
dtype: float64

In [15]:
np.exp(s)

a    2.752276
b    1.031976
c    1.026228
d    0.335723
e    0.623323
dtype: float64

In [16]:
s.array

<PandasArray>
[  1.0124282495211872,  0.03147576257593732, 0.025890106960487956,
  -1.0914683262489626, -0.47269055077043026]
Length: 5, dtype: float64

In [17]:
s.to_numpy()

array([ 1.01242825,  0.03147576,  0.02589011, -1.09146833, -0.47269055])

In [18]:
s['a']

1.0124282495211872

In [19]:
s['e']=12

In [20]:
s

a     1.012428
b     0.031476
c     0.025890
d    -1.091468
e    12.000000
dtype: float64

In [21]:
'e' in s

True

In [22]:
s.get('a')

1.0124282495211872

In [23]:
s.get('e')

12.0

In [24]:
s=pd.Series(np.random.randn(5),name='something')

In [25]:
s

0    0.057142
1    0.608305
2   -0.515683
3   -0.215541
4    0.938763
Name: something, dtype: float64

In [26]:
s.name

'something'

In [27]:
s2=s.rename('differen')

In [28]:
s2.name

'differen'

# DataFrame

In [30]:
d={
    'one':pd.Series([1.0,2.0,3.0],index=['a','b','c']),
    'two':pd.Series([1.0,2.0,3.0,4.0],index=['a','b','c','d']) 
}

In [31]:
df=pd.DataFrame(d)

In [32]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [33]:
pd.DataFrame(d,index=['d','b','a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [34]:
pd.DataFrame(d,index=['d','b','a'],columns=['two','three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [35]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [36]:
df.columns

Index(['one', 'two'], dtype='object')

# From dict of ndarrays/lists

In [37]:
d={
    'one':[1.0,2.0,3.0,4.0],
    'two':[4.0,3.0,2.0,1.0]
}

In [38]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [39]:
pd.DataFrame(d,index=['a','b','c','d'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

# From structured or record array

In [41]:
data=np.zeros((2,),dtype=[('A','i4'),('B','f4'),('C','a10')])

In [45]:
data[:]=[(1, 2.0, "Hello"), (2, 3.0, "World")]

In [46]:
data

array([(1, 2., b'Hello'), (2, 3., b'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [47]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [48]:
pd.DataFrame(data,columns=['C','A','B'])

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

# From a list dicts

In [49]:
data2=[{
    'a':1,
    'b':2
},{
    'a':5,
    'b':10,
    'c':20
}]

In [50]:
data2

[{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [51]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [52]:
pd.DataFrame(data2,columns=['a','b'])

   a   b
0  1   2
1  5  10

# From a dict of tuples

In [53]:
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

# From a list of namedtuples

In [54]:
from collections import namedtuple

In [55]:
Point=namedtuple('Point','x y')

In [ ]:
pd.DataFrame([Point(0,0)])